.block {
    display: block;
    width: 50vw;
    background-color: red;
}

.inline {
    display: inline;
    width: 50vw;
    background-color: green;
}

.inline-block {
    display: inline-block;
    width: 50vw;
    background-color: blue;
}

.img-container {
    text-align: center;
    width: 300px;
    padding: 1rem;
    background-color: hsl(0, 0%, 50%);
}

.img-container>img {
    width: 66.666666%;
    line-height: 0;
    font-size: 0;
    /* vertical-align: middle; */
}