body {
    margin: 0;
    color: white;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: #111;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 3rem;

    box-sizing: border-box;
    width: 50%;
    height: 75%;
    border: .25rem solid white;
    border-radius: 2rem;
    padding: 4rem;

    background: hsl(100, 100%, 50%);
}

.btn {
    --bg: hsl(200, 100%, 50%);
    --bg-hover: hsl(200, 100%, 70%);
    --bg-active: hsl(200, 100%, 40%);

    flex-basis: 4rem;
    /* width: 4rem; */

    box-sizing: border-box;
    /* margin: 1rem; */
    border: .1rem solid black;
    border-radius: 1rem;
    padding: .5rem;

    font-weight: bold;
    color: white;

    background: var(--bg);

    cursor: pointer;
    transition: background .01s;
    transition: content 1s;
}

.btn:hover {
    background: var(--bg-hover);
}

.btn:active {
    background: var(--bg-active);
}

.btn:focus::before {
    content: 'ahhh ur focusing on me!!: ';
}